[submodule "libft"]
	path = libft
	url = https://github.com/RochBlondiaux/libft
[submodule "ft_printf"]
	path = ft_printf
	url = https://github.com/RochBlondiaux/ft_printf
[submodule "get_next_line"]
	path = get_next_line
	url = https://github.com/RochBlondiaux/get_next_line
[submodule "fdf"]
	path = fdf
	url = https://github.com/RochBlondiaux/fdf
[submodule "push_swap"]
	path = push_swap
	url = https://github.com/RochBlondiaux/push_swap
[submodule "minitalk"]
	path = minitalk
	url = https://github.com/rochblondiaux/minitalk
[submodule "philosophers"]
	path = philosophers
	url = https://github.com/RochBlondiaux/philosophers
[submodule "minishell"]
	path = minishell
	url = https://github.com/RochBlondiaux/minishell